.carrito {
    color: white;
    position: absolute;
    right: -500px;
    width: 35px;
    height: 35px;
    transition: 0.2s;
}

.carrito:hover {
    width: 40px;
    height: 40px;
    color: bisque;
}

.pop-carrito {
    color: white;
}