@import url(//db.onlinewebfonts.com/c/3567d4a22b8d7e0d857a16df0afbaa1d?family=Curlz+MT);
@font-face {
    font-family: "Curlz MT";
    src: url("//db.onlinewebfonts.com/t/3567d4a22b8d7e0d857a16df0afbaa1d.eot");
    src: url("//db.onlinewebfonts.com/t/3567d4a22b8d7e0d857a16df0afbaa1d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3567d4a22b8d7e0d857a16df0afbaa1d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3567d4a22b8d7e0d857a16df0afbaa1d.woff") format("woff"), url("//db.onlinewebfonts.com/t/3567d4a22b8d7e0d857a16df0afbaa1d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3567d4a22b8d7e0d857a16df0afbaa1d.svg#Curlz MT") format("svg");
}

.bg-back {
    background-color: rgb(147, 186, 58);
}

.brand {
    position: relative;
    left: 30px;
    font-family: "Curlz MT";
    font-size: 30px;
}

.titulo {
    text-decoration: none;
    color: seashell;
}

.titulo:hover {
    color: bisque;
}

.logo {
    position: relative;
    left: -5px;
    padding: 1%;
    width: 65px;
    height: 65px;
    border-radius: 35px;
    transition: 0.3s;
}

.logo:hover {
    width: 70px;
    height: 70px;
    transform: rotate(360deg);
}

.elements {
    padding: 0%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.links {
    color: seashell;
    display: flex;
    position: relative;
    left: 50%;
    font-size: 20px;
}

.links:hover {
    color: bisque;
}

#ddl {
    color: seashell;
    font-size: 20px;
}

#ddl:hover {
    color: bisque;
}